@import '../../Styles/variables';

.projects-wrapper{
    display: flex;
    flex-direction: column;
    .projects-row{
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    svg{
        height: 2rem;
        width: 2rem;
        margin-right: .5rem;
        & :hover{
            fill: $my-teal;
        }
    }
    .each-project-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        background-color: $dark-blue;
        max-width: 15%;
        min-width: 350px;
        max-height: 600px;
        padding: $container-padding;
        border-radius: $container-border-radius;
        margin: 0 3rem 3rem 3rem;
        box-shadow: 15px 15px 3px 3px $half-bright-yellow;
        &:hover{
            box-shadow: 15px 15px 10px 10px $half-my-teal;
        }
    }
    p{
        font-family: $regular-font;
        font-size: $container-font-size;
        color: $off-white;
        overflow-x: scroll;
    }
    .project-title{
        color: $off-white;
        font-size: 1.5rem;
    }
    img{
        min-width: 435px;
        max-width: 20%;
        height: 15rem;
        margin-top: 1rem;
        border: solid 2px $bright-yellow;
        &:hover{
            border: 3px solid $my-teal;
            transform: scale(1.3);
            top: 0rem;
            z-index: 2;
        }
    }
}