@import '../../Styles/variables.scss';
@import '../../Styles/mixinx.scss';

.subheader-wrapper{
    display: flex;
    flex-direction: row;
    font-family: $title-font;
    margin-top: 0;
    padding-top: 0;
    .sub-headers{
        @include link-font;
        font-size: 1.5rem;
        margin-left: 3rem;
        margin-top: 0;
        cursor: pointer;
    }
    @media (max-width: 1200px){
        display: none;
    }
}