@import '../../Styles/variables';
@import '../../Styles/mixinx';

.other-tech-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: $section-margin-top;
    .other-tech-container{
        @include basic-block-view;
        @media (max-width: 1200px){
            max-width: 80%;
        }
        @media (max-width: 690px){
            max-width: 100%;
        }
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        p, li{
            @include basic-container-font;
            min-width: 340px;
        }
    }
}