@import '../../Styles/variables';

.other-tech-wrapper{
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 65%;
    @media (max-width: 1200px){
        max-width: 80%;
    }
    @media (max-width: 690px){
        max-width: 100%;
    }
    .other-tech-container{
        background-color: $half-dark-blue;
        padding: $container-padding;
        border-radius: $container-border-radius;
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        p, li{
            min-width: 340px;
            color: $off-white;
            font-size: $container-font-size;
        }
    }
}