@import '../../Styles/variables';

.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-content{
        background-color: $half-dark-blue;
        border-radius: $container-border-radius;
        font-size: $container-font-size;
        padding: $container-padding;
        color: $off-white;
        max-width: $section-text-container-max-width;
    }
}