@import '../../Styles/variables';
@import '../../Styles/mixinx';

.about-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .about-content{
        @include basic-container-font;
        @include basic-block-view;
    }
}