@import '../../Styles/variables';

.art-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .art-descriptive-container{
        background-color: $half-dark-blue;
        max-width: 75%;
        padding: $container-padding;
        border-radius: $container-border-radius;
        font-size: $container-font-size;
        color: $off-white;
        @media (max-width: 690px){
            max-width: 100%;
        } 
    }
    .preview-containers{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 75%;
        margin-top: 1rem;
        @media(max-width: 1330px){
            justify-content: center;
            max-width: 100%;
        }
    }
    .title-img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .each-art-type{
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 350px;
        max-width: 15px;
        max-height: 625px;
        background-color: $dark-blue;
        padding: $container-padding;
        border-radius: $container-border-radius;
        margin: 0 3rem 3rem 3rem;
        box-shadow: 15px 15px 3px 3px $half-bright-yellow;
        &:hover{
            box-shadow: 15px 15px 10px 10px $half-my-teal;
        }
        @media (max-width: 1330px){
            max-width: 800px;
            margin: 3rem 2rem;
        }
        @media (max-width: 690px){
            max-width: 100%;
            margin: 1rem 0;
            box-shadow: none;
            &:hover{
                box-shadow: none;
            }
        }
        img{
            max-width: 250px;
            height: 250px;
            object-fit: cover;
            &:hover{
                transform: scale(2.5);
                z-index: 2;
                object-fit:contain;
            }
        }
        h6{
            color: $off-white;
            font-size: 1.5rem; 
            margin: 1rem;
        }
        .description-text{
            font-family: $regular-font;
            font-size: $container-font-size;
            color: $off-white;
            @media (max-width: 1330px){
                margin: .5rem 1rem;
                max-width: 200px;
            }
        }
    }
}