@import '../../Styles/variables';
@import '../../Styles/mixinx';

.header-wrapper{
    .display-none{
        display: none !important;
    }
    .main-menu{
        display: flex;
        flex-direction: row;
        a{
            @include link-font;
            font-size: 2rem;
            margin-left: 2rem;
            margin-top: .5rem;
            margin-bottom: 0;
            cursor: pointer;
            text-decoration: none;
            :hover{
                color: $my-teal;
            }
        }
        @media (max-width: 1200px){
            display: none;
        }
    }
    .burger-menu{
        position:fixed;
        margin-top:1rem;
        margin-left: 1rem;
        svg{
            height: 3rem;
            width: 3rem;
        }
        @media (min-width: 1201px){
            display: none;
        }
        .burger-sub-menu{
            margin-left: 1.5rem;
            font-size: 1rem;
        }
    }
    .fries{
        display: flex;
        flex-direction: column;
        z-index: 3;
        font-size: 2rem;
        color: $bright-yellow;
        background-color: $dark-blue;
        padding: 6px;
        border-radius: $container-border-radius;
        a{
            @include link-font;
            margin: 0;
            text-decoration: none;
            :hover{
                color: $my-teal;
            }
        }
    }
}