@import url('https://fonts.googleapis.com/css2?family=Anton&family=Old+Standard+TT&display=swap');

$title-font: 'Anton', sans-serif;
$regular-font: 'Old Standard TT', serif;

$bright-yellow: #ffd06c;
$half-bright-yellow: #ffd06c7e;
$off-white: rgb(255, 239, 215); 
$my-teal: #29C983;
$half-my-teal: #29c9848c;
$dark-blue: #03335B;
$half-dark-blue:#03335b86;