@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h3 {
    font-size: 2rem;
  }
  .last-nav {
    margin-left: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .title {
    font-size: 6rem;
    margin-left: 18rem;
  }
  .last-name {
    margin-left: 7rem;
  }
  .gh-icon{
    height: 2rem;
    width: 2rem;
  }
  .link-icon{
      margin-top:.25rem;
      height: 2rem;
      width: 2rem;
  }
  .tree-icon{
      height: 2rem;
      width: 2rem;
  }
  .pro-tit{
    margin-left: 5rem;
  }
  .card-bg{
    margin-left: 0;
    width: 25rem;
    height: 45rem;
  }
  .card-bg img{
    left: -2rem;
    width: 30rem;
  }
  .card-three{
    margin-left: 15rem;
  }
  .tech-spacer{
    margin-top: 70rem;
  }
  .bg-sm{
    width: 60%;
  }
  .tech-tit{
    font-size:6rem;
  }


}
