@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 901px) and (max-width: 1300px) {
  h3 {
    font-size: 2rem;
  }
  .last-nav {
    margin-left: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .title {
    font-size: 6rem;
    margin-left: 9rem;
  }
  .last-name {
    margin-left: 1rem;
  }
  .name {
    padding-left: 2rem;
  }
}