@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 768px) and (max-width: 991px){
  h3 {
    font-size: 1.5rem;
  }
  .last-nav {
    margin-left: 2rem;
  }
  h2 {
    font-size: 2rem;
  }
  .title {
    font-size: 5rem;
    margin-left: 6rem;
  }
  .name {
    margin-left: -10rem;
  }
  .gh-icon{
    height: 2rem;
    width: 2rem;
  }
  .link-icon{
      margin-top:.25rem;
      height: 2rem;
      width: 2rem;
  }
  .tree-icon{
      height: 2rem;
      width: 2rem;
  }
  .card-bg{
    width: 28rem;
    box-shadow: 10px 10px 5px 5px #ffd06c7e;
  }
  .card-bg:hover{
      box-shadow: 10px 10px 5px 5px #29c9848c;
  }  



  .tech-spacer{
    margin-top: 100rem;
}
.tech-tit{
    font-size: 5rem;
}
.tech-row{
    margin-left: 2rem;
    width:auto;
}
.bg-lg{
    width:80%;
    margin-left:2rem;
    height:22rem;
}
.tech-icon{
    height:4rem;
    width:4rem;
}
.bg-lg p{
    font-size: 4rem;
}
.bg-sm{
    width:80%;
    margin-left:2rem;
    height: 42rem;
}
.bg-sm p{
    font-size:2rem;
}
.bg-sm h3{
    font-size:3rem;
}
  
}
