@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 451px) and (max-width: 900px) {
  h3 {
    font-size: 1.5em;
  }
  .last-nav {
    margin-left: 2rem;
  }
  h2 {
    font-size: 3rem;
  }
  .title {
    font-size: 5rem;
    margin-left: 12rem;
  }
  .last-name {
    margin-left: 5rem;
  }
  .name {
    padding-left: 1rem;
  }
}
