@import "./variables";

#bg-img{
    background-image: url(../ReferenceImages/northernLights.jpg);
    background-repeat: no-repeat;
    position: fixed;
    width: 100vw;
    height:100vh;
    top:0;
    left:0;
    background-size: cover;
}
.gh-icon{
    height: 3rem;
    width: 3rem;
}
.link-icon{
    margin-top:.25rem;
    height: 3rem;
    width: 3rem;
}
.tree-icon{
    height: 4rem;
    width: 4rem;
}
h1{
    font-size: 10rem;
    font-family: $title-font;
}
h3{
    font-size: 3rem;
    font-family: $title-font;
    color: $bright-yellow;
    margin-left: 2rem;
    margin-top: .5rem;
}
h2{
    font-size: 4.5rem;
    font-family: $title-font;
    color: $bright-yellow;
    margin:none;
}
.name{
    color: $off-white
}
.last-name{
    margin-left: 4rem;
}
.last-nav{
    margin-left:9rem;
}

.name-icons{
    margin-top: 5rem;
}
.title{
    font-size: 10rem;
    color: $off-white;
    font-family: $title-font;
}
