@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 1200px) and (max-width:1700px) {
  h3{
    font-size: 2rem;
  }
  h2{
    font-size: 5rem;
  }
  .title{
    font-size: 10rem;
    margin-left: 17rem;
  }
  .last-nav {
    margin-left: 2rem;
  }
  .name{
    margin-left: -6rem;
  }
  .last-name{
   margin-left:13rem;
  }
  .last-nav{
    margin-left: 8rem;
  }
  .card-bg{
    margin-left: 0rem;
    margin-right: 5rem;
    width: 25rem;
  }
  .card-bg img{
    width: 29rem;
  }
  .pro-tit{
    margin-left: 3rem;;
  }

  .bg-lg{
    width: 50%;
  }
  .tech-icon{
    height: 6rem;
    width: 6rem;
  }
  .too-big{
    height:5rem;
    width: 5rem;
  }
}