@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 100px) and (max-width: 575px) {

    h3 {
        font-size: 1.5rem;
    }
    .last-nav {
        margin-left: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
    .title {
        font-size: 4.5rem;
        margin-left: 1rem;
    }
    .name {
        margin-left: 0rem;
    }
    .name-icons{
        margin-left: 1rem;
    }
    .last-name{
        margin-left: 12rem;
    }
    .gh-icon{
        height: 2rem;
        width: 2rem;
    }
    .link-icon{
        margin-top:.25rem;
        height: 2rem;
        width: 2rem;
    }
    .tree-icon{
        height: 2rem;
        width: 2rem;
    }

    .pro-tit h1{
        font-size: 4rem;
    }
    .card-bg{
        margin-left: 2rem;
        width:18rem;
        box-shadow: none;
        height: 30rem;
    }
    .card-bg img{
        margin-left: 2.5rem;
        width:20rem;
        height: 10rem;
    }
    .card-bg .pro-card-cont{
        margin-top:15rem;
        font-size: 1.5rem;
    }
    .card-bg .pro-card-gh{
        height:2rem;
        width:2rem;
    }
    .card-bg .pro-card-desc{
        font-size: 1rem;
    }
}