@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@media only screen and (min-width: 100px) and (max-width: 575px) {

    h3 {
        font-size: 1.5rem;
    }
    .last-nav {
        margin-left: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
    .title {
        font-size: 4.5rem;
        margin-left: 1rem;
    }
    .name {
        margin-left: 0rem;
    }
    .name-icons{
        margin-left: 1rem;
    }
    .last-name{
        margin-left: 12rem;
    }
    .gh-icon{
        height: 2rem;
        width: 2rem;
    }
    .link-icon{
        margin-top:.25rem;
        height: 2rem;
        width: 2rem;
    }
    .tree-icon{
        height: 2rem;
        width: 2rem;
    }

    .pro-tit h1{
        font-size: 4rem;
    }
    .card-bg{
        margin-left: 1rem;
        width:18rem;
        box-shadow: none;
        height: 27rem;
        border: solid 2px rgb(5, 5, 65)
    }
    .card-bg img{
        left: -1rem;
        width:20rem;
        height: 10rem;
    }
    .card-bg .pro-card-cont{
        margin-top:12.5rem;
        font-size: 1.5rem;
    }
    .card-bg .pro-card-gh{
        height:2rem;
        width:2rem;
    }
    .card-bg .pro-card-desc{
        margin-top:-1.5rem;
        padding-top:none;
        font-size: 1rem;
    }



    .tech-box{
        height:12rem;
    }
    .tech-spacer{
        margin-top: 65rem;
    }
    .tech-tit{
        font-size:3rem;
    }
    .tech-row{
        margin-left: 0;
        width:auto;
    }
    .tech-icon{
        height:2rem;
        width:2rem;
    }
    .bg-lg p{
        font-size: 2rem;
    }
    .bg-lg{
        width:80%;
        margin-left:2rem;
    }
    .bg-sm{
        width:80%;
        margin-left:2rem;
        height: 38rem;
    }
    .bg-sm p{
        font-size:1;
    }
    .bg-sm h3{
        font-size:2rem;
    }
}